<form action="#" method="get" autocomplete="on">
    <div id="place-start">
        <input type="text" name="place-start" placeholder="Asal" id="start">
        <button type="button" onclick="getLocation()">Bingung lagi dimana?</button>
    </div>
    <input type="text" name="place-finish" placeholder="Tujuan">
    <input type="submit" value="CARI">
</form>